*{
    margin: 0;
    padding: 0;
}
.navigation{
    background-color: #000;
    text-align: center;
    padding: 10px 0px;
}


ul li{
    display:inline;
}
ul li a{
    text-decoration: none;
    color: #ffff;
    padding: 0px 5px;
}
.navigation  a:hover{
     background-color: #ffffff;
     color:#000
}
.form{
    margin: 25px;
}
.form input{
    border: 2px dashed red;
}
.form   input:focus{
    border: none;
    background-color: blue;
    /*border: 2px dashed red;*/
}
.navigation ul li:nth-child(even){
    background-color: blue;
}
#pseudo-element ::before{
    content: "Note:";
    font-weight: bold;
    text-transform: uppercase;
}
#pseudo-element ::after{
    content: "(End of note)";
    font-style: italic;
    text-transform: uppercase;
}